/* Hero Section Starts*/
.hero-container {
    position: relative;
    /* background: blue; */
    width: 100%;
    height: 300px;
}

.hero-section {
    background-image: url(./Images/page-header-bg.png);
    background-size: cover;
    background-position: bottom left;
    opacity: 0.5;
    height: 300px;
    width: 100%;
    padding: 20px;
}

.row-1 {
    position: absolute;
    width: 100%;
    height: auto;
}

.row-2 {
    position: absolute;
    width: 100%;
    height: auto;
}

.navbar {
    background: transparent !important;
}

.navbar-brand {
    display: flex;
    justify-content: end;
    width: 20%;
}

.navbar-brand img {
    width: 75%;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link,
.active {
    color: white !important;
    font-size: 18px;
    font-weight: 700;

}

.nav-item {
    padding: 10px;
}

.btn-1 {
    border-radius: 40px;
    padding: 10px;
    font-weight: 700;
}

.btn-2 {
    border-radius: 20px;
    background: white;
    color: black;
    border: none;
    font-size: 20px;
}

.Button-div {
    width: 20%;
}

.portfolio-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.portfolio-row {
    width: 100%;

}

.portfolio-row h1 {
    color: #025ADD;
}

.portfolio-row p {
    color: whitesmoke;
    font-weight: 700;
}




.logo {
    height: 50px;
}



/* Breadcrumb Start  */
.bg-colo {
    background-color:
        #025add;
}

.breadcrumb-item {
    font-size: 17px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}


/* Breadcrumb End  */

/* Cards Start  */

.image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 13px;

}

.zoom-image {
    width: 100%;
    transition: transform 0.3s ease;

}

.image-container:hover .zoom-image {
    transform: scale(1.2);
}


.color {
    background-color: #f8f8f8;
}

.card {
    border: none;
}

.card-text {
    color:
        #2e76e3;
    cursor: pointer;
}

.card-text:hover {
    color: #525252;
}

.text {
    cursor: text;
    color: #646464;
}

.card-img-top {
    border-radius: 13px;
}

.card-body {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 13px;
    background-color:
        #ffffff;
}

/* Cards End  */