/* Breadcrumb Start  */
.breadcrumb-container {
    background-color:
        #025add;
    color: white;
}

.breadcrumb-item {
    font-size: 15px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Breadcrumb End  */

/* Cards Start  */

.image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.zoom-image {
    width: 100%;
    transition: transform 0.3s ease;
}

.image-container:hover .zoom-image {
    transform: scale(1.2);
}


.color {
    background-color: #f8f8f8;
}

.card {
    border: none;
}

.card-text {
    font-size: 22px;
    color:
        #2e76e3;
    cursor: pointer;
}

.card-text:hover{
    color: #525252;
}

.text {
    cursor: text;
    color: #646464;
}

.card-img-top {
    border-radius: 13px;
}

.card-body {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 13px;
    background-color:
        #ffffff;
}

/* Cards End  */